<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.submitbtn {
  background-color: #D10414  ;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submitbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>



<body>
<script type="text/javascript">
	function sendData(){
		var password = document.getElementById("field1").value;
		var confirmPassword = document.getElementById("field2").value;
		
		if(password!==confirmPassword){
			alert("password Don't macth !");	
			location.reload();
		}else{
			var apiUrl = 'http://localhost:8069/decoder/encrypt';
			
		    var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
		    var theUrl = "/json-handler";
		    var body = null;
		    xmlhttp.onreadystatechange = function() {
		        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
		             /* alert(xmlhttp.responseText);  */
		             body = JSON.parse(xmlhttp.responseText);
		             document.getElementById("encryptResult").innerHTML = body.encryptData;
		 		    alert(body.responseMessage);
		        }
		    }    
		    xmlhttp.open("POST", apiUrl);
		    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		    xmlhttp.send(JSON.stringify({ "planText":password}));
		
		}
		
		 	
	}
	
	   
</script>

  <div class="container">
    <h1>Encrypt Emulator</h1>
    <p>Input your password</p>
    <hr>

    <label for="email"><b>Plan text</b></label>
    <input type="password" placeholder="Enter password" name="planText" id="field1" required>
     <input type="password" placeholder="re-password" name="planText" id="field2" required>
    <hr>
      <b><p id="encryptResult"></p></b>
      <hr>
    <button onclick="sendData()" class="submitbtn">Submit</button>
  </div>


</body>
</html>
